In [1]:
import sys

sys.path.append('../src')

In [2]:
from preprocess import *
import config

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/rohitrawat/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
import preprocess

functions = [func for func in dir(preprocess) if callable(getattr(preprocess, func))]
print(functions)

['expand_contractions', 'more_cleaning', 'remove_accented_chars', 'remove_special_characters', 'remove_stopwords', 'rm_number_from_text', 'rm_punc_from_text', 'rm_punc_from_word', 'rm_stopwords_from_text']

In [4]:
df = pd.read_csv('/Users/rohitrawat/job-prep/Assignments/accrete-ai/text-summarization/data/processed/news_summary.csv')
df.head(3)

,author,date,headlines,read_more,summary,text
0,Chhavi Tyagi,"03 Aug 2017,Thursday",Daman & Diu revokes mandatory Rakshabandhan in...,http://www.hindustantimes.com/india-news/raksh...,The Administration of Union Territory Daman an...,The Daman and Diu administration on Wednesday ...
1,Daisy Mowke,"03 Aug 2017,Thursday",Malaika slams user who trolled her for 'divorc...,http://www.hindustantimes.com/bollywood/malaik...,Malaika Arora slammed an Instagram user who tr...,"From her special numbers to TV?appearances, Bo..."
2,Arshiya Chopra,"03 Aug 2017,Thursday",Virgin' now corrected to 'Unmarried' in IGIMS'...,http://www.hindustantimes.com/patna/bihar-igim...,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...

In [5]:
def clean_text(text):
    text = expand_contractions(text)
    text = more_cleaning(text)
    text = rm_punc_from_text(text)
    text = rm_number_from_text(text)
    text = rm_stopwords_from_text(text)
    text = more_cleaning(text)
    return text

In [6]:
df = df[['text', 'summary']].copy()
df

,text,summary
0,The Daman and Diu administration on Wednesday ...,The Administration of Union Territory Daman an...
1,"From her special numbers to TV?appearances, Bo...",Malaika Arora slammed an Instagram user who tr...
2,The Indira Gandhi Institute of Medical Science...,The Indira Gandhi Institute of Medical Science...
3,Lashkar-e-Taiba's Kashmir commander Abu Dujana...,Lashkar-e-Taiba's Kashmir commander Abu Dujana...
4,Hotels in Mumbai and other Indian cities are t...,Hotels in Maharashtra will train their staff t...
...,...,...
4392,"Mumbai, Feb 23 (PTI) Fruit juice concentrate m...",Fruit juice concentrate maker Rasna is eyeing ...
4393,Former cricketer Sachin Tendulkar was spotted ...,Former Indian cricketer Sachin Tendulkar atten...
4394,"Aamir Khan, whose last film Dangal told the st...","Aamir Khan, while talking about reality shows ..."
4395,Maharahstra Power Minister Chandrashekhar Bawa...,The Maharashtra government has initiated an in...
4396,More than half of the languages spoken by Indi...,At least 400 languages or more than half langu...

In [7]:
from sklearn.model_selection import train_test_split

train_df, test_df = train_test_split(df, test_size=config.TEST_SIZE, random_state=config.SEED)

In [8]:
train_df.text = train_df.text.apply(clean_text)
train_df.summary = train_df.summary.apply(clean_text)

test_df.text = test_df.text.apply(clean_text)
test_df.summary = test_df.summary.apply(clean_text)

In [9]:
train_df.head(3)

,text,summary
3432,make indian soldiers conversant chinese langua...,visvabharati university started certificate le...
3200,according geo news report khawar qureshi lawye...,lawyer representing pakistan icj kulbhushan ja...
3098,day madras high court ordered monthlong stay c...,kerala high court wednesday said need interfer...

In [10]:
train_df.to_csv('/Users/rohitrawat/job-prep/Assignments/accrete-ai/text-summarization/data/processed/news_summary_cleaned_train.csv', index=False)
test_df.to_csv('/Users/rohitrawat/job-prep/Assignments/accrete-ai/text-summarization/data/processed/news_summary_cleaned_test.csv', index=False)